<main class="home-body">
  <nav-dir></nav-dir>
  <section class="home-main">
    <div id="popcorn-div"></div>

      <div class="purpose">
        <div class="moments"> <strong>M</strong>ake <strong>M</strong>oments </div></br></br></br>
        <p class="description"> Here at <span id="logo-font">movieMeet</span> we are all about turning your day into an adventure.
            Long-lasting relationships often emerge while sitting in front of the
            big screen.  So why not cut straight to the chase by meeting your new
            friend at the film of your choice?</br> --Let's make moments!-- </p>
    </div>
  </section>
  <section id="home-bottom">
    <div class="how-to-sect">
      <div class="how-to-title">
          Tips To Get Started
      </div>
      <div class="how-to-steps">
          <ol>
            <li>Head over to your settings and modify your match preferences. </li>
            <li>"Theaters" is where you'll be able to pick your movie and find your date.</li>
            <li>You can view your past dates and/or initialize pending dates in "myDates".</li>
          </ol>
      </div>
    </div>
    <div id="camera-div"></div>
  </section>
</main>
<!-- <div id="home-bottom"></div> -->
