<main class="home-body">
  <header class="header">
    <div class="title">
      <img class="popcorn" src="./../styles/images/popcorn.png" alt="">
      movieMeet
    </div>
    <!-- <div class="popcorn-container">
    </div> -->
    <nav class="nav">
      <div> home </div>
      <div> theaters </div>
      <div> myDates </div>
      <div> settings </div>
      <div> logout </div>
    </nav>
  </header>



  <section class="home-main">
      <div class="purpose">
        <div>
        <div class="moments"> <strong>M</strong>ake <strong>M</strong>oments </div></br>
        <p class="description"> Here at <span id="logo-font">movieMeet</span> we are all about turning your day into an adventure.
            Long-lasting relationships often emerge while sitting in front of the
            big screen.  So why not cut straight to the chase by meeting your new
            friend at the film of your choice?</br> --Let's make moments!-- <p>
      </div>
    </div>

  </section>
</main>
<!-- <div id="home-bottom"></div> -->
