<div class="settings-body">
  <nav-dir></nav-dir>
  <div class="pref">
  <div class="pref-title">
      Modify Your </br> Preferences
  </div>

  <div input-field>
    <select name="select" ng-model="select.age" material-select watch >
      <option value="" disabled selected>Your Age</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31">31</option>
      <option value="32">32</option>
      <option value="33">33</option>
      <option value="34">34</option>
      <option value="35">35</option>
      <option value="36">36</option>
      <option value="37">37</option>
      <option value="38">38</option>
      <option value="39">39</option>
    </select>

    <select name="select" ng-model="select.age_range" material-select watch >
      <option value="" disabled selected>Date's Age Range</option>
      <option value="18-23">18 - 23</option>
      <option value="24-28">24 - 28</option>
      <option value="29-33">29 - 33</option>
      <option value="34-38">34 - 39</option>
    </select>

    <select ng-model="select.gender" material-select watch >
      <option value="" disabled selected> Date's Gender </option>
      <option value="Male"> Male </option>
      <option value="Female"> Female </option>
    </select>

    <button ng-click="updatePrefs()" class="btn waves-effect waves-light" type="submit" name="action"> Save
    <i class="material-icons right">send</i>
  </button>



  </div>
  <label>Materialize Select</label>



  </div>



</div>
