<main class="theaters-body">
  <nav-dir></nav-dir>

  <div class="loader-container" ng-show="isLoading">
    <div class='uil-ring-css' style='transform:scale(0.99);'>
      <div></div>
    </div>
  </div>

  <div class="whats-playing">
    Find Your Movie Below...

  </div>

  <div class="row zip-field">
      <div class="input-field col s12">
        <input ng-model="zip" id="zip" type="text" class="validate">
        <label for="zip">Zip</label>
      </div>

      <button class="btn waves-effect waves-light zip-button" ng-click="saveZip(zip)" type="submit" name="action">Search
      <i class="material-icons right">send</i></button>
  </div>

  <div class="theater-sect">

    <div class="theater" ng-repeat="movie in movies" >
        <div class="poster"
             ng-mouseenter="hover = true"
             ng-mouseleave="hover = false"
             ng-style="{'background-image': 'url(' + movie.imageUrl + ')'}">
          <div class="movie-data fade"
               ng-show="hover">
            <div id="theater-name">{{movie.title}}
            </div>
            <div class="movies" ng-repeat="theater in movie.showtimes">
             <a href="" ng-click="updateMovieAndZip(movie.title, theater.theatre.name)"><i class="fa fa-film reel" aria-hidden="true"></i></a>   {{theater.theatre.name}}
              <div class="movie">
                <div class="showtimes" ng-repeat="showtime in theater.dateTime">
                  {{showtime | date: 'shortTime'}}
                </div>
              </div>
              <!-- <button type="button" class="button" name="button" ng-click="chooseMovie(movie.name, theater)">Select This Movie & Theater</button> -->
            </div>
          </div>
        </div>

    </div>

  </div>


</main>
